@{
    ViewData["Title"] = "Profile";
}

<section class="content">
    <div class="container-fluid">
        <h1>Profile</h1>
        <div class="card card-primary card-outline">
            <div class="card-body box-profile">
                <h3 class="profile-username text-center">Ahmad Akhdan</h3>
                <p class="text-muted text-center">Informatics Student</p>
                <ul class="list-group list-group-unbordered mb-3">
                    <li class="list-group-item">
                        <b>Email</b> <span class="float-right">akhdan@example.com</span>
                    </li>
                    <li class="list-group-item">
                        <b>Phone</b> <span class="float-right">+62 812-3456-7890</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
