@{
    ViewData["Title"] = "Blog";
}

<section class="content">
    <div class="container-fluid">
        <h1>Halaman About</h1>
        <p>Ini contoh halaman About. Kamu bisa isi artikel atau postingan di sini.</p>
    </div>
</section>
